@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.woff');
}

$font-main: 'Metropolis';

$mint-green-logo: #64E1C3;
$mint-green-main: #94EFD2;
$mint-green-disabled: #C3F6E6;
$mint-green-pressed: #7BD6B9;
$forrest-green: #439B83;

$almost-black: #222222;
$shaft-black: #2D2D2D;
$matte-black: #393939;

$dark-grey: #5F5F5F;
$medium-grey: #999999;
$grey: #D1D1D1;
$light-grey: #ECECEC;
$white-smoke: #F9F9F9;
$white: #FFFFFF;

$poppy-red: #FE1B1B;

$status-violet: #7B31D9;
$status-orange: #F16500;
$status-orange: #FE1B1B;
$status-orange: #64E1C3;


 